# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
.ipynb_checkpoints/

# Data/output
figures/
supplementary/
qc_outputs/
consensuseachUMI/filteredcodoncounts/
*.csv
*.xlsx
*.fastq
*.fastq.gz
*.fasta
